In [1]:
# Import Modules
import pandas as pd
import os
import json
import requests
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
#import yfinance as yf
from pathlib import Path
import sqlalchemy as sql
%matplotlib inline

In [2]:
load_dotenv("/Users/rabiatalib/Documents/api_keys.env")

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
tickers = ["RYT","XSW","XLK","USRT","XLRE","RWR","BBUS","JMOM","SPMD","MDYG","SLY","SLYG"]
timeframe = "1D"
start_date = pd.Timestamp("2020-10-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-10-01", tz="America/New_York").isoformat()

In [6]:
df_hist_data = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

df_hist_data

                            BBUS                                    JMOM  \
                            open    high     low  close  volume     open
time
2021-05-12 00:00:00-04:00  75.30  75.460  74.100  74.21   39106  39.9199
2021-05-13 00:00:00-04:00  74.50  75.400  74.500  75.07  121394  39.6400
2021-05-14 00:00:00-04:00  75.61  76.340  75.610  76.25   53468  40.0500
2021-05-17 00:00:00-04:00  76.05  76.050  75.680  75.97   30356  40.3100
2021-05-18 00:00:00-04:00  76.08  76.100  75.740  75.89   27927  40.2000
...                          ...     ...     ...    ...     ...      ...
2021-09-27 00:00:00-04:00  81.32  81.520  81.121  81.27   36219  45.6400
2021-09-28 00:00:00-04:00  80.67  80.690  79.480  79.56   27047  44.8045
2021-09-29 00:00:00-04:00  79.79  80.120  79.590  79.62   32278  44.6000
2021-09-30 00:00:00-04:00  79.94  80.030  78.720  78.72   25225  44.5657
2021-10-01 00:00:00-04:00  79.09  79.935  78.490  79.56   39710  43.8800

                                                             ...   XLRE  \
                              high      low    close volume  ...   open
time                                                         ...
2021-05-12 00:00:00-04:00  39.9200  39.3374  39.3374   3679  ...  41.95
2021-05-13 00:00:00-04:00  39.8700  39.5600  39.6325  10208  ...  41.13
2021-05-14 00:00:00-04:00  40.4200  39.9800  40.3800   6333  ...  41.77
2021-05-17 00:00:00-04:00  40.3100  39.8950  40.0350  13038  ...  41.93
2021-05-18 00:00:00-04:00  40.3000  40.1700  40.1799   9117  ...  41.92
...                            ...      ...      ...    ...  ...    ...
2021-09-27 00:00:00-04:00  45.7372  45.4256  45.5600  21543  ...  45.92
2021-09-28 00:00:00-04:00  44.8045  44.3100  44.4535   6618  ...  44.87
2021-09-29 00:00:00-04:00  44.6000  44.2656  44.2900   6517  ...  45.06
2021-09-30 00:00:00-04:00  44.5657  43.9200  43.9206   6891  ...  45.38
2021-10-01 00:00:00-04:00  44.3500  43.4901  44.2500  14330  ...  44.79

                                                                XSW            \
                              high     low  close    volume    open      high
time
2021-05-12 00:00:00-04:00  42.0000  41.020  41.05   5164407  152.38  153.1400
2021-05-13 00:00:00-04:00  41.7982  41.110  41.54   5210550  151.41  152.6300
2021-05-14 00:00:00-04:00  42.1100  41.620  41.95   3702333  151.83  154.8250
2021-05-17 00:00:00-04:00  42.0750  41.820  41.97   3478473  153.61  154.1565
2021-05-18 00:00:00-04:00  42.2990  41.675  42.04   4413718  153.98  155.7380
...                            ...     ...    ...       ...     ...       ...
2021-09-27 00:00:00-04:00  46.1400  45.105  45.13   6621245  178.39  178.9400
2021-09-28 00:00:00-04:00  45.0800  44.530  44.87  11755550  175.80  175.8000
2021-09-29 00:00:00-04:00  45.3800  45.000  45.18   5669530  172.98  173.4700
2021-09-30 00:00:00-04:00  45.3950  44.450  44.47   5820243  172.37  173.2700
2021-10-01 00:00:00-04:00  45.2500  44.400  44.93   8033142  172.65  174.9300


                                low    close  volume
time
2021-05-12 00:00:00-04:00  149.9000  150.250   14525
2021-05-13 00:00:00-04:00  148.2000  150.775   18645
2021-05-14 00:00:00-04:00  151.3750  154.696    9472
2021-05-17 00:00:00-04:00  151.9750  153.280   22363
2021-05-18 00:00:00-04:00  153.7900  153.790   13326
...                             ...      ...     ...
2021-09-27 00:00:00-04:00  176.6798  177.980  193398
2021-09-28 00:00:00-04:00  172.1200  172.120    9133
2021-09-29 00:00:00-04:00  171.7800  171.800    8595
2021-09-30 00:00:00-04:00  171.4448  171.630   13834
2021-10-01 00:00:00-04:00  171.3850  174.620    6558

[100 rows x 60 columns]

In [7]:
df_hist_data.head()

                            BBUS                                  JMOM         \
                            open   high    low  close  volume     open   high
time
2021-05-12 00:00:00-04:00  75.30  75.46  74.10  74.21   39106  39.9199  39.92
2021-05-13 00:00:00-04:00  74.50  75.40  74.50  75.07  121394  39.6400  39.87
2021-05-14 00:00:00-04:00  75.61  76.34  75.61  76.25   53468  40.0500  40.42
2021-05-17 00:00:00-04:00  76.05  76.05  75.68  75.97   30356  40.3100  40.31
2021-05-18 00:00:00-04:00  76.08  76.10  75.74  75.89   27927  40.2000  40.30

                                                    ...   XLRE           \
                               low    close volume  ...   open     high
time                                                ...
2021-05-12 00:00:00-04:00  39.3374  39.3374   3679  ...  41.95  42.0000
2021-05-13 00:00:00-04:00  39.5600  39.6325  10208  ...  41.13  41.7982
2021-05-14 00:00:00-04:00  39.9800  40.3800   6333  ...  41.77  42.1100
2021-05-17 00:00:00-04:00  39.8950  40.0350  13038  ...  41.93  42.0750
2021-05-18 00:00:00-04:00  40.1700  40.1799   9117  ...  41.92  42.2990

                                                      XSW                     \
                              low  close   volume    open      high      low
time
2021-05-12 00:00:00-04:00  41.020  41.05  5164407  152.38  153.1400  149.900
2021-05-13 00:00:00-04:00  41.110  41.54  5210550  151.41  152.6300  148.200
2021-05-14 00:00:00-04:00  41.620  41.95  3702333  151.83  154.8250  151.375
2021-05-17 00:00:00-04:00  41.820  41.97  3478473  153.61  154.1565  151.975
2021-05-18 00:00:00-04:00  41.675  42.04  4413718  153.98  155.7380  153.790


                             close volume
time
2021-05-12 00:00:00-04:00  150.250  14525
2021-05-13 00:00:00-04:00  150.775  18645
2021-05-14 00:00:00-04:00  154.696   9472
2021-05-17 00:00:00-04:00  153.280  22363
2021-05-18 00:00:00-04:00  153.790  13326

[5 rows x 60 columns]

In [8]:
df_hist_data.tail()

                            BBUS                                   JMOM  \
                            open    high     low  close volume     open
time
2021-09-27 00:00:00-04:00  81.32  81.520  81.121  81.27  36219  45.6400
2021-09-28 00:00:00-04:00  80.67  80.690  79.480  79.56  27047  44.8045
2021-09-29 00:00:00-04:00  79.79  80.120  79.590  79.62  32278  44.6000
2021-09-30 00:00:00-04:00  79.94  80.030  78.720  78.72  25225  44.5657
2021-10-01 00:00:00-04:00  79.09  79.935  78.490  79.56  39710  43.8800

                                                             ...   XLRE  \
                              high      low    close volume  ...   open
time                                                         ...
2021-09-27 00:00:00-04:00  45.7372  45.4256  45.5600  21543  ...  45.92
2021-09-28 00:00:00-04:00  44.8045  44.3100  44.4535   6618  ...  44.87
2021-09-29 00:00:00-04:00  44.6000  44.2656  44.2900   6517  ...  45.06
2021-09-30 00:00:00-04:00  44.5657  43.9200  43.9206   6891  ...  45.38
2021-10-01 00:00:00-04:00  44.3500  43.4901  44.2500  14330  ...  44.79

                                                               XSW          \
                             high     low  close    volume    open    high
time
2021-09-27 00:00:00-04:00  46.140  45.105  45.13   6621245  178.39  178.94
2021-09-28 00:00:00-04:00  45.080  44.530  44.87  11755550  175.80  175.80
2021-09-29 00:00:00-04:00  45.380  45.000  45.18   5669530  172.98  173.47
2021-09-30 00:00:00-04:00  45.395  44.450  44.47   5820243  172.37  173.27
2021-10-01 00:00:00-04:00  45.250  44.400  44.93   8033142  172.65  174.93


                                low   close  volume
time
2021-09-27 00:00:00-04:00  176.6798  177.98  193398
2021-09-28 00:00:00-04:00  172.1200  172.12    9133
2021-09-29 00:00:00-04:00  171.7800  171.80    8595
2021-09-30 00:00:00-04:00  171.4448  171.63   13834
2021-10-01 00:00:00-04:00  171.3850  174.62    6558

[5 rows x 60 columns]